body {
  text-align: center;
  padding: 5%;
}

.displayForm {
  display: flex;
  margin: 0 25%;
}

.note {
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-style: italic;
  text-align: left;
  padding: 8px;
  margin: 5px;
}